body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(224, 236, 243, 0.911);
}

.form-signin {
  max-width: 5000px;
  padding: 10px;
  margin: 0 auto;
  line-height: 150%;
  box-shadow: 10px 10px 5px #888888;
  font-size: 16px;
  background-color: rgb(164, 215, 243);
}